.content {
    grid-area: c;
    width: 100%;
    height: 100%;
}



.city_img {
    width: 100%;
    height: 100%;


}

.style {

    font-family: "Monotype Corsiva" ;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 10px;
    color: saddlebrown;
}

