.profile {
    /*grid-area: profile;*/
    display: grid;
    gap: 5px;
    margin: 0 auto;
    background-color: aquamarine;
}

.profile__logo {
    height: 150px;
    overflow: hidden;
}

.profile__logo img {
    width: 100%;
    transform: translateY();
}

