.userPhoto {
  width: 75px;
  height: 70px;
}

.usersPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}

.userWrapper {
  display: flex;
  gap: 10px;
}
.userInfoWrapper {
  border: 1px solid black;
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.nameStatusWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
}
.locationWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 15px;
}
.fullName {
  font-weight: bold;
}
.status {
  font-style: italic;
}
.country {
  text-align: right;
  font-weight: bold;
  font-style: italic;
}
.city {
  text-align: right;
  font-style: italic;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
}
.pagination {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 80px;
}

.loader {
  text-align: center;
  margin-top: 20px;
}
