.userPhoto {
    width: 90px;
    height: 70px;
}

.usersPageWrapper {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
}

.userWrapper {
    display: flex;
    gap: 10px;
}
.userInfoWrapper {
    border: 1px solid black;
    width: 600px;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.nameStatusWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}
.locationWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 15px;
}
.fullName {
    font-weight: bold;
}
.status {
    font-style: italic;
}
.country {
    text-align: right;
    font-weight: bold;
    font-style: italic;
}
.city {
    text-align: right;
    font-style: italic;
}
.buttonWrapper {
   display: flex;
    justify-content: center;
}

