
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    & .addPost{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        & textarea{
            display: block;
            width: 600px;
            height: 12vh;
            border-radius: 10px;
        }
        & button{
            padding: 5px 30px;
            flex-grow: 0;
            border-width: 1px;
            border-radius: 5px;
        }

    }
}

