.profile__posts {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 20px;
}

.profile__posts span {
  color: #47525e;
  font-size: 25px;
  line-height: 45px;
  width: 244px;
}

.profile__form {
  background-color: aliceblue;
  max-width: 50%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

.profile__button {
  background-color: #79b5f2;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.profile__button:hover {
  color: white;
  background-color: #000067;
  transition: 0.4s;
}
