.header {
    grid-area: h;
    background-color: #99fff7;



    padding: 10px;

}

.logo {
    margin-top: -2em;
    box-shadow: 10px 5px 5px blue;
    width: 40px;
}

.style {

    font-family: "Monotype Corsiva" ;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 10px;
    color: saddlebrown;
    margin-left: 18em;
}

.item {

    float:right;
    font-family: "Monotype Corsiva" ;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 10px;
    color: saddlebrown;


}


.item a.activeLink {

    color: gold;
}

.item {
   margin-top: -45px;
}

.item a {
    text-decoration: none;
}