.header {
  grid-area: header;
}
.loader {
  /*height: 8px;*/
  width: 100%;
}
.content {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 50px;
  display: block;
  margin-left: 20px;
}

.loginBlock {
  margin-right: 30px;
  height: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.loginLink {
  font-size: 25px;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000067;
}
.loginLink:hover {
  background-color: deepskyblue;
  color: black;
  transition: 0.3s;
}
.userName {
  border: 1px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: #eeeeee;
}
