.header {
    grid-area: header;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: gray;
}

.header img {
    width: 50px;
    display: block;
    margin-left: 20px;
}

/* .header__logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .header__logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */