
.nav {
    display: flex;
    align-items: center;
    gap: 30px;
    grid-area: nav;
    background-color: orange;
}


.item{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.item.active{
    color: black;
    text-decoration: underline;
}