.navbar {
  width: 100%;
  grid-area: nav;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.item {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.active {
  color: black;
  background-color: lightgray;
  border: 1px solid;
  border-radius: 3px;
  transition: 0.5s;
  text-decoration: none;
}
