.nav {
    grid-area: n;
    background-color: rgba(0,211,255,0.31);
    height: 100%;
}
.style {
    box-shadow: 10px 5px 10px blue;
    font-family: "Monotype Corsiva" ;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 10px;
    color: saddlebrown;

}

.padding {
    padding: 25px 15px 25px 25px;
}