.item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.item img {
  width: 60px;
  height: 60px;
}

.likes {
  padding: 1px;
  font-weight: bold;
  border: 1px solid #a11818;
}
