

.app-wrapper {
  margin: auto;
  display: grid;
  margin: auto;
  height: 700px;
  width: 1200px;
  grid-template-areas:
  "h h"
  "n c"
;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;


}

.app-wrapper-content {
  /*background-color: rgba(0,215,215,0.41);*/
  background-color: rgba(0,215,215,0.41);
}




