.App{ 
  display: grid;
  grid-template-areas: 
      'header header'
      'nav main'
  ;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.header{
  grid-area: header;
  background-color: red;
}


.nav{
  grid-area: nav;
  background-color: green;
  height: 90vh;
}
  .nav__list{
    list-style: none;
  }
    .nav__list-item{
      
    }
      .nav__list-item a {
        text-decoration: none;
        color: black;
      }


.content{
  grid-area: main;
  background-color: pink;
}
  .content img{
    height: 300px;
    width: 100%;
  }