
.dialogs {
  display: grid;
  background: aqua;
  grid-template-columns: 2fr 4fr;

  & .items {
    background: pink;
  }
}


.messages {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 30px;

  .newMessage{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
            "text text text text text"
              ". . . . button" ;

    & textarea{
      border-radius: 10px;
      grid-area: text;
    }
    & button{
      grid-area: button;
      border-radius: 5px;
      border: 1px solid gray;
    }
  }
}

